* {
    border: none;
    border-radius: 0;
    font-family: monospace, Source Code Pro, Helvetica, Arial, fileicon, material, sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-temperature,
#custom-drives,
#window,
#temperature,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#network,
#memory,
#workspaces,
#tray,
#mpris,
#cpu,
#submap,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
}

#window, #submap {
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

#waybar.empty #window {
    background: none;
    padding: 0px;
    margin: 0px;
    border: none;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#workspaces button {
    padding: 5px;
    color: #4953ff;
    margin-right: 5px;
}

#workspaces button.active  {
    color: #eeff00;
    background: #313244;
    border-radius: 5px;
}

#workspaces button.focused {
    color: #cdd6f4;
    background: #313244;
    border-radius: 5px;
}

#workspaces button.visible {
    color: #a6adc8;
    background: #00d9ff;
    border-radius: 5px;
}


#workspaces button.urgent {
    color: #cdd6f4;
    background: #ff002b;
    border-radius: 5px;
}

#workspaces button.visible {
    color: #11111b;
    background: #00ff55;
    border-radius: 5px;
}

#workspaces button.hidden {
    color: #11111b;
    background: #ffd900;
    border-radius: 5px;
}

#workspaces button:hover {
    color: #eeff00;
    background: #11111b;
    border-radius: 5px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#bluetooth {
    border-radius: 0 10px 10px 0;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
}

#custom-updates {
    color: #f5c2e7;
    border-radius: 10px 0px 0px 10px;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}

#network {
    color: #f9e2af;
}

#pulseaudio {
    color: #89b4fa;
    margin-left: 3px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    margin-left: 0px;
    border-right: 0px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: #a6e3a1;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
}