* {
    border: none;
    border-radius: 0;
    font-family: monospace, Source Code Pro, Helvetica, Arial, fileicon, material, sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-temperature,
#custom-drives,
#window,
#temperature,
#clock,
#battery,
#wireplumber,
#bluetooth,
#network,
#memory,
#workspaces,
#tray,
#mpris.colapsed,
#mpris.expanded,
#cpu,
#submap,
#keyboard-state,
#language,
#custom-expand-icon,
#backlight,
#custom-lock,
#custom-power,
#custom-reboot
{
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

/* Border left */
tooltip,
#clock,
#window,
#submap,
#workspaces,
#wireplumber.sink,
#memory,
#custom-caffeine,
#workspaces button.active,
#workspaces button.focused,
#workspaces button.visible,
#workspaces button.urgent,
#workspaces button.visible,
#workspaces button.hidden,
#workspaces button:hover,
#custom-lock,
#custom-power,
#custom-reboot,
#custom-expand-icon
{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* Border right */
tooltip,
#tray,
#window,
#submap,
#workspaces,
#wireplumber.source,
#bluetooth,
#workspaces button.active,
#workspaces button.focused,
#workspaces button.visible,
#workspaces button.urgent,
#workspaces button.visible,
#workspaces button.hidden,
#workspaces button:hover,
#custom-lock,
#custom-power,
#custom-reboot,
#custom-expand-icon
{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#mpris.colapsed,
#mpris.expanded 
{
    border: 0px;
}

#custom-lock,
#custom-power,
#custom-reboot,
#custom-expand-icon {
    margin-left: 3px;
    margin-right: 3px;
}

#custom-lock {
    color: #00ff00;
}

#custom-power {
    color: #ff0000;
}

#custom-reboot {
    color: #ffa500;
}

#window, #submap {
    margin-left: 3px;
    margin-right: 3px;
}

#waybar.empty #window {
    background: none;
    padding: 0px;
    margin: 0px;
    border: none;
}

#workspaces {
    background: #1e1e2e;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#workspaces button {
    padding: 6px;
    color: #4953ff;
    margin-right: 1px;
    margin-left: 1px;
}

#workspaces button.active  {
    color: #eeff00;
    background: #313244;
}

#workspaces button.focused {
    color: #cdd6f4;
    background: #313244;
}

#workspaces button.visible {
    color: #a6adc8;
    background: #00d9ff;
}


#workspaces button.urgent {
    color: #cdd6f4;
    background: #ff002b;
}

#workspaces button.visible {
    color: #11111b;
    background: #00ff55;
}

#workspaces button.hidden {
    color: #11111b;
    background: #ffd900;
}

#workspaces button:hover {
    color: #eeff00;
    background: #11111b;
}

#custom-caffeine {
    color: #89dceb;
    margin-left: 10px;
}

#language {
    color: #f38ba8;
}

#custom-updates {
    color: #f5c2e7;
}

#clock {
    color: #fab387;
    margin-right: 0px;
}

#network {
    color: #f9e2af;
}

#wireplumber {
    color: #89b4fa;
    margin-left: 3px;
    border-left: 0px;
    border-right: 0px;
}

#wireplumber.source {
    color: #cba6f7;
    border-left: 0px;
    margin-left: 0px;
    border-right: 0px;
}

#battery {
    color: #a6e3a1;
}

#wireplumber.muted {
    color: #8c8c8c;
}
